/**
 * File: Main.css
 * @author Victoria Chistolini
 * @author Tiffany Lam
 * @author Joseph Malionek
 * @author Vivek Sah
 * Class: CS361
 * Project: 4
 * Date: October 11, 2016
 */

/* set the pane size */
#compositionPanel {
    -fx-pref-width: 2000;
    -fx-pref-height: 1280;
}

/* set the color of red vertical line */
#playLine {
    -fx-stroke: red;
    -fx-stroke-width: 1;
}

/* set the styling for the composition lines */
#lines {
    -fx-stroke: lightgray;
    -fx-stroke-width: 1
}
